ion-app.md{
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    font-size: 1.4rem;
}


.toolbar-background{
    background-color: #BDA0CB !important;
}

.toolbar-title{
    text-align:left;
    padding: 0 6px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.toolbar-content{
    text-align: center;
}

.main-header-text{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    margin: 0px;
}

.div-button{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #387ef5;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
    margin-top: 20px;
}

.home-home-icon{
    position: absolute;
    right: 15px;
    top:9px;
    font-size: 2.0em;
}

.card-text-content{
    margin-top:5px;
    margin-bottom: 5px;
}

.shelter-detail-name{
    padding:0px;
}

.hr-dispel{
    background-color:  #ededed;
    width: 90%;
}

.description-text{
    padding-left: 5%;
    padding-right: 5%;
}