<ion-header>
    <ion-navbar>
        <ion-title>
            Adoptuj pupila
            <ion-icon name="paw"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        <p class="main-header-text"><strong>{{animal.name}}</strong>
            <ion-icon *ngIf="animal.gender === 'F'" name="female"></ion-icon>
            <ion-icon *ngIf="animal.gender === 'M'" name="male"></ion-icon>
        </p>
    </div>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col width-40>
                <ion-thumbnail item-left>
                    <img src="{{serverShort}}{{animal.photo}}">
                </ion-thumbnail>
            </ion-col>
            <ion-col width-60>
                <ion-card-content>
                    <p class='card-text-content'>
                        <ion-icon name="calendar"> Wiek </ion-icon> {{ animal.age }}</p>
                    <p class='card-text-content'>
                        <ion-icon name="paw"> Typ </ion-icon> {{animal.type}}</p>
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-grid>
    <hr class="hr-dispel">
    <div class="description-text" [innerHTML]="animal.description"></div>
    <hr class="hr-dispel">
    <br>
    <div *ngIf='!logged' class="description-text">Zaloguj się aby zadać zapytanie.</div>

    <ion-item *ngIf='logged'>
        <ion-label stacked>Zapytanie adopcyjne</ion-label>
        <ion-textarea [(ngModel)]="question" ></ion-textarea>
    </ion-item>

    <div *ngIf="logged" class='div-button' (click)="sendQuestion()" >
        Wyślij zapytanie
        <ion-icon name="paw" class="home-home-icon"></ion-icon>
    </div>


</ion-content>