<ion-header>
    <ion-navbar>
        <ion-title>
            Adoptuj pupila
            <ion-icon name="paw"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        <p class="main-header-text"><strong>Dodaj zwierzę</strong></p>
    </div>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Imię</ion-label>
            <ion-input #name placeholder="Imię"></ion-input>
        </ion-item>
    </ion-list>
    <hr class="hr-dispel">

    <ion-list>
        <ion-item>
            <ion-label color="primary">Wiek</ion-label>
            <ion-input type="number" #age placeholder="Wiek"></ion-input>
        </ion-item>
    </ion-list>
    <hr class="hr-dispel">

    <ion-list>
        <ion-item>
            <ion-label>Typ</ion-label>
            <ion-select #type>
                <ion-option value="DOG">Pies</ion-option>
                <ion-option value="CAT">Kot</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <hr class="hr-dispel">

    <ion-list>
        <ion-item>
            <ion-label color="primary">Płeć</ion-label>
            <ion-select #gender>
                <ion-option value="M">Męska</ion-option>
                <ion-option value="F">Żeńska</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <hr class="hr-dispel">

    <ion-list>
        <ion-item>
            <ion-label color="primary">Schronisko</ion-label>
            <ion-select #shelter>
                <ion-option *ngFor="let shelter of shelterList" value="{{shelter.id}}">{{shelter.name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <hr class="hr-dispel">

    <ion-list>
        <ion-item>
            <ion-label color="primary">Opis</ion-label>
            <ion-input #description type="text" #pass placeholder="Opis"></ion-input>
        </ion-item>
    </ion-list>
    <hr class="hr-dispel">


    <br>
    <div class='div-button' (click)="addPet(name.value,age.value,type,gender,shelter,description.value)">
        Dodaj zwięrzę
        <ion-icon name="paw" class="home-home-icon"></ion-icon>
    </div>

    <div *ngIf='error' style="background-color:red;" class='div-button'>
        Nie wprowadzono wszystkich wymaganych danych
    </div>

</ion-content>