<ion-header>
    <ion-navbar>
        <ion-title>
            Adoptuj pupila
            <ion-icon name="paw"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="!logged">
    <div padding>
        <p class="main-header-text"><strong>Lista zwierząt z Trójmiejskich schronisk</strong></p>
    </div>
    <br>
    <hr class="hr-dispel">
        <p class="description-text"> Aby zobaczyć pełną listę zwierząt zaloguj się.</p>
    <hr class="hr-dispel">

</ion-content>

<ion-content *ngIf="logged">
    <div padding>
        <p class="main-header-text"><strong>Lista zwierząt z Trójmiejskich schronisk</strong></p>
    </div>
    <br>
    <ion-card *ngFor="let animal of animalList" (click)="goToAnimalDetail(animal)">
        <ion-grid>
            <ion-row>
                <ion-col width-40>
                    <ion-thumbnail item-left>
                        <img src="{{serverShort}}{{animal.photo}}">
                    </ion-thumbnail>
                </ion-col>
                <ion-col width-60>
                    <ion-card-header>
                        <strong>{{ animal.name }} </strong>
                        <ion-icon *ngIf="animal.gender === 'F'" name="female"></ion-icon>
                        <ion-icon *ngIf="animal.gender === 'M'" name="male"></ion-icon>
                    </ion-card-header>
                    <ion-card-content>
                        <p class='card-text-content'>
                            <ion-icon name="calendar"> Wiek </ion-icon> {{ animal.age }}</p>
                        <p class='card-text-content'>
                            <ion-icon name="paw"> Typ </ion-icon> {{animal.type}}</p>
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>